.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    justify-content: space-between;
    padding: 10px;

    .item-info {
      display: flex;
      justify-content: space-between;
    }

    .item-meta-info {
      font-size: .7em;
      color: dimgrey;
    }
  }
}
