<div class="list-wrapper">
  <ul class="todo-list" *ngIf="todoList.list.length > 0; else noListItems">
    <li [routerLink]="['/task', item.id]" *ngFor="let item of todoList.list">
      <div class="item-info">
        <span>{{item.text}}</span>
      </div>
      <div class="item-meta-container">
        <div class="item-meta-info">
          <span class="added-on">{{item.addedOn | momentFormat}}</span>
        </div>
        <div class="item-meta-controls">
          <a [routerLink]="['/task', item.id, 'edit']">Edit</a>
          <a (click)="deleteItem($event, item)">Remove</a>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #noListItems>
    Add items!
  </ng-template>
</div>
