/* You can add global styles to this file, and also import other style files */
html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
}
